
<main class="row">
  <div class="col s4 card-panel offset-s1">
    <% random = Random.rand(1..7) %>
    <%= image_tag("#{random}.jpg")%>
  </div>
  <div class="col s6">
    <h3 class="center-align grey lighten-2 card-panel">Description</h3>
    <div class="event-page card-panel">
      <h3 class="center-align"><%= @event.event_name %></h3>
      <p class="center-align"> <%= @event.event_description %></p>
      <p><%= @event.event_date %></p>
      <%= button_to "Add", {:controller => :attendance, :action => 'create', :event_id => @event.id }, :method => :create, class: "btn grey sidebyside col" %>
    </div>
  </div>
</div>
